:root {
    --frame-width: 70px;
    --frame-height: 70px;
    --total-width: -210px;
    --frames: 3;

    --sprite-url: url('https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-iii/emerald/59.png');

}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333;
    font-family: sans-serif;
}

/* Сцена */
.scene {
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
    border-radius: 14px;
    background: linear-gradient(180deg, #87CEEB 0%, #d0f0ff 100%);
    border: 4px solid #fff;
}

/* Хмари */
.cloud {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50px;
    animation: cloud-move 15s linear infinite;
}

.cloud--one {
    width: 120px;
    height: 60px;
    top: 40px;
    left: -120px;
    animation-duration: 20s;
}

.cloud--two {
    width: 180px;
    height: 80px;
    top: 80px;
    left: -180px;
    animation-delay: 5s;
}

/* Земля */
.ground {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background: #4CAF50;
    border-top: 5px solid #388E3C;
}

/* Персонаж */
.stage {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
}

.sprite {
    width: var(--frame-width);
    height: var(--frame-height);
    background-image: var(--sprite-url);

    image-rendering: pixelated;
    background-repeat: no-repeat;

    /* Анімація */
    animation: walk 0.6s steps(var(--frames)) infinite;
}

@keyframes walk {
    from {
        background-position: 0 0;
    }

    to {
        background-position: var(--total-width) 0;
    }
}

@keyframes cloud-move {
    from {
        left: -200px;
    }

    to {
        left: 100%;
    }
}